apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: prosper-tutor

resources:
  - namespace.yaml
  - configmap.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml

patchesStrategicMerge:
  - |- 
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: prosper-tutor-lite-backend
    spec:
      replicas: 3
      template:
        spec:
          containers:
          - name: backend
            resources:
              requests:
                memory: "1Gi"
                cpu: "500m"
              limits:
                memory: "2Gi"
                cpu: "1000m"