apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: vectorstore-pvc
  labels:
    app: prosper-tutor-lite
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: courses-pvc
  labels:
    app: prosper-tutor-lite
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi